<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <%- include('_layouts/head') %>
    <title>Add Banner | <%= title %></title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/css/dropify.min.css">
</head>
<!-- END: Head-->

<body class="vertical-layout page-header-light vertical-menu-collapsible vertical-dark-menu preload-transitions 2-columns" data-open="click" data-menu="vertical-dark-menu" data-col="2-columns">
    <%- include('_layouts/sidenavbar') %>

    <!-- BEGIN: Page Main-->
    <div id="main">
        <div class="row">
            <div id="breadcrumbs-wrapper" data-image="/app-assets/images/gallery/breadcrumb-bg.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col s12 m6 l6">
                            <h5 class="breadcrumbs-title mt-0 mb-0"><a class="mr-2" href="/banner"><i class="material-icons">arrow_back</i></a><span>Add Banner</span></h5>
                        </div>
                        <div class="col s12 m6 l6 right-align-md">
                            <ol class="breadcrumbs mb-0">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item"><a href="/banner">Banner</a></li>
                                <li class="breadcrumb-item active">Add Banner</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="container">
                    <div class="section">
                        <div class="row">
                            <div class="col s12">
                                <%- messages('messages', locals) %>
                            </div>
                        </div>
                        <form method="POST" onsubmit="validate()" action="/banner/add" id="form" enctype="multipart/form-data">
                            <div class="col s12">
                                <div class="card">
                                    <div class="card-content">
                                        <div class="row">
                                            <div class="input-field col m6 s12">
                                                <input placeholder="Name" id="name" name="name" type="text">
                                                <label for="name">Name</label>
                                                <small>
                                                    <div id="errorName" class="error"></div>
                                                </small>
                                            </div>
                                            <div class="input-field col m6 s12">
                                                <input placeholder="Link" id="link" name="link" type="text">
                                                <label for="link">Link</label>
                                                <small>
                                                    <div id="errorLink" class="error"></div>
                                                </small>
                                            </div>
                                            <div class="input-field col s12">
                                                Upload Image
                                                <input type="file" accept="image/png, image/jpeg" name="image" id="input-file-now" class="dropify" data-disable-remove="true" required />
                                                <small>
                                                    <div id="error1" class="error"></div>
                                                </small>
                                            </div>
                                            <div class="input-field col s12">
                                                <input placeholder="Image Alt" id="imageAlt" name="imageAlt" type="text">
                                                <label for="imageAlt">Image Alt</label>
                                            </div>
                                            <div class="col s12">
                                                <button type="submit" class="btn purple" id="submitBtn">Submit</button>
                                                <a onclick="history.back()" class="btn btn-danger ml-1">Cancel</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="content-overlay"></div>
            </div>
        </div>
    </div>
    <!-- END: Page Main-->

    <script>
        const formC = document.getElementById('form');

        formC.addEventListener('submit', (e) => {
            e.preventDefault();
        })

        function validate() {
            let returnVal = true;

            const nameValue = document.getElementById('name').value.trim();
            const linkValue = document.getElementById('link').value.trim();
            const fileValue = document.getElementById('input-file-now').value;
            const ext = fileValue.substring(fileValue.lastIndexOf('.') + 1).toLowerCase();

            if (nameValue == '') {
                document.getElementById('errorName').innerText = 'Please enter name.';
                returnVal = false;
            } else {
                document.getElementById('errorName').innerText = '';
            }

            if (linkValue == '') {
                document.getElementById('errorLink').innerText = 'Please enter link.';
                returnVal = false;
            } else {
                document.getElementById('errorLink').innerText = '';
            }

            if (ext == 'png' || ext == 'jpeg' || ext == 'jpg') {
                document.getElementById('error1').innerText = '';
            } else {
                document.getElementById('error1').innerText = 'Wrong file type.';
                returnVal = false;
            }

            if (returnVal) {
                document.getElementById('submitBtn').disabled = true;
                formC.submit();
            }
        }
    </script>
    <%- include('_layouts/commonJs') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/js/dropify.min.js"></script>
    <script src="/app-assets/js/scripts/form-file-uploads.min.js"></script>
</body>

</html>