<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <%- include('_layouts/head') %>
    <title>Message View | <%= title %></title>
</head>
<!-- END: Head-->

<body class="vertical-layout page-header-light vertical-menu-collapsible vertical-dark-menu preload-transitions 2-columns" data-open="click" data-menu="vertical-dark-menu" data-col="2-columns">
    <%- include('_layouts/sidenavbar') %>

    <!-- BEGIN: Page Main-->
    <div id="main">
        <div class="row">
            <div id="breadcrumbs-wrapper" data-image="/app-assets/images/gallery/breadcrumb-bg.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col s12 m6 l6">
                            <h5 class="breadcrumbs-title mt-0 mb-0"><a class="mr-2" href="/message"><i class="material-icons">arrow_back</i></a><span>Message view</span></h5>
                        </div>
                        <div class="col s12 m6 l6 right-align-md">
                            <ol class="breadcrumbs mb-0">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item"><a href="/message">Messages</a></li>
                                <li class="breadcrumb-item active">Message view</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12">
                <div class="container">
                    <div class="section section-data-tables">
                        <!-- Page Length Options -->
                        <div class="row">
                            <div class="col s12">
                                <div class="card">
                                    <div class="card-content">
                                        <div class="row">
                                            <div class="col s12">
                                                <table class="display striped">
                                                    <tbody>
                                                        <tr>
                                                            <th>Name</th>
                                                            <td><%= message.fname + " " + message.lname %></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Email</th>
                                                            <td><a style="color: inherit;" href="mailto:<%= message.email %>" target="_blank"><%= message.email %></a></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Phone</th>
                                                            <td><%= message.phone %></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Comments</th>
                                                            <td><%= message.comments %></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Date and Time</th>
                                                            <td><%= message.date.toLocaleDateString(dateLocale, dateOptions) %></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <a onclick="history.back()" class="btn btn-danger mt-2" style="margin-left: 15px;">Back</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-overlay"></div>
            </div>
        </div>
    </div>
    <!-- END: Page Main-->

    <%- include('_layouts/commonJs') %>
</body>

</html>