<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <%- include('_layouts/head') %>
    <title>Privacy notice | <%= title %></title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/css/dropify.min.css">
</head>
<!-- END: Head-->

<body class="vertical-layout page-header-light vertical-menu-collapsible vertical-dark-menu preload-transitions 2-columns" data-open="click" data-menu="vertical-dark-menu" data-col="2-columns">
    <%- include('_layouts/sidenavbar') %>

    <!-- BEGIN: Page Main-->
    <div id="main">
        <div class="row">
            <div id="breadcrumbs-wrapper" data-image="/app-assets/images/gallery/breadcrumb-bg.jpg">
                <!-- Search for small screen-->
                <div class="container">
                    <div class="row">
                        <div class="col s12 m6 l6">
                            <h5 class="breadcrumbs-title mt-0 mb-0"><a class="mr-2" href="/"><i class="material-icons">arrow_back</i></a><span>Privacy notice</span></h5>
                        </div>
                        <div class="col s12 m6 l6 right-align-md">
                            <ol class="breadcrumbs mb-0">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active">Privacy notice</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12">
                <div class="container">
                    <div class="section section-data-tables">
                        <div class="row">
                            <div class="col s12">
                                <div class="card">
                                    <div class="card-content">
                                        <div class="row">
                                            <div class="col s12">
                                                <%- messages('messages', locals) %>
                                                <form method="POST" onsubmit="validate()" id="form" action="/cms/privacy" enctype="multipart/form-data">
                                                    <h4 class="card-title">English</h4>
                                                    <div class="input-field">
<<<<<<< HEAD
                                                        <input placeholder="Title" id="EnTitle" name="EnTitle" type="text" value="<%= page.en.title %>">
                                                        <small>
                                                            <div id="EnTitleErr" class="error"></div>
                                                        </small>
                                                        <label for="EnTitle">Title</label>
                                                    </div>
                                                    <div class="form-group">
                                                        Content
                                                        <textarea name="EnContent" class="form-control ta" id="ta1" cols="30" rows="10" placeholder="content"> <%= page.en.content %> </textarea>
                                                    </div>
                                                    <h4 class="card-title mt-2">Spanish</h4>
                                                    <div class="input-field">
                                                        <input placeholder="Title" id="EsTitle" name="EsTitle" type="text" value="<%= page.es.title %>">
                                                        <small>
                                                            <div id="EsTitleErr" class="error"></div>
                                                        </small>
                                                        <label for="EsTitle">Title</label>
                                                    </div>
                                                    <div class="form-group">
                                                        Content
                                                        <textarea name="EsContent" class="form-control ta" id="ta2" cols="30" rows="10" placeholder="content"> <%= page.es.content %> </textarea>
                                                    </div>
=======
                                                        <input placeholder="Title" id="title" name="title" type="text" value="<%= page.title %>">
                                                        <small>
                                                            <div id="EnTitleErr" class="error"></div>
                                                        </small>
                                                        <label for="title">Title</label>
                                                    </div>
                                                    <div class="form-group">
                                                        Content
                                                        <textarea name="EnContent" class="form-control ta" id="ta1" cols="30" rows="10" placeholder="content"> <%= page.content %> </textarea>
                                                    </div>
                                               
>>>>>>> 431f3f6c1603b243346ddac0284bd6378eec011b
                                                    <div class="input-field mt-4">
                                                        Upload Image
                                                        <input type="file" accept="image/png, image/jpeg" name="image" id="input-file-now" class="dropify" data-disable-remove="true" data-default-file="<%= page.image %>" />
                                                        <small>
                                                            <div id="errorImage" class="error"></div>
                                                        </small>
                                                    </div>
                                                    <button type="submit" id="submitBtn" class="btn purple mt-2">Submit</button>
                                                    <a onclick="history.back()" class="btn btn-danger ml-1 mt-2">Cancel</a>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-overlay"></div>
            </div>
        </div>
    </div>
    <!-- END: Page Main-->

    <script>
        const form = document.getElementById('form');

        form.addEventListener('submit', (e) => {
            e.preventDefault();
        })

        function validate() {

<<<<<<< HEAD
            const EnTitleValue = document.getElementById('EnTitle').value.trim();
            const EsTitleValue = document.getElementById('EsTitle').value.trim();
=======
            const EnTitleValue = document.getElementById('title').value.trim();
>>>>>>> 431f3f6c1603b243346ddac0284bd6378eec011b
            const fileValue = document.getElementById('input-file-now').value;
            const ext = fileValue.substring(fileValue.lastIndexOf('.') + 1).toLowerCase();

            if (EnTitleValue == '') {
                return setError('EnTitleErr', 'Please enter title.');
            } else {
                document.getElementById('EnTitleErr').innerText = '';
            }

<<<<<<< HEAD
            if (EsTitleValue == '') {
                return setError('EsTitleErr', 'Please enter title.');
            } else {
                document.getElementById('EsTitleErr').innerText = '';
            }

=======
>>>>>>> 431f3f6c1603b243346ddac0284bd6378eec011b
            if (fileValue == '') {
                document.getElementById('errorImage').innerText = '';
            } else if (ext == 'png' || ext == 'jpeg' || ext == 'jpg') {
                document.getElementById('errorImage').innerText = '';
            } else {
                return setError('errorImage', 'Wrong file type.');
            }

            document.getElementById('submitBtn').disabled = true;
            form.submit();
        }

        function setError(elementId, error) {
            const element = document.getElementById(elementId)
            element.innerText = error;
            element.scrollIntoView({
                behavior: 'smooth',
                block: 'center',
            });
        }
    </script>
    <%- include('_layouts/commonJs') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/js/dropify.min.js"></script>
    <script src="/app-assets/js/scripts/form-file-uploads.min.js"></script>
    <!-- ===== ckeditor JavaScript ===== -->
    <script src="//cdn.ckeditor.com/4.7.1/standard/ckeditor.js"></script>
    <script>
        $(function() {
            const elements = $('textarea.ta').get();
            Object.keys(elements).forEach(i => {
                CKEDITOR.replace(elements[i].id, {
                    filebrowserUploadUrl: '/upload',
                    format_tags: 'p;h1;h2;h3;h4;h5;h6'
                });
            });

            if ($("[data-fancybox]").length) {
                $("[data-fancybox]").fancybox();
            }
        });
    </script>
</body>

</html>