<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <%- include('_layouts/head') %>
    <title>Edit User | <%= title %></title>
</head>
<!-- END: Head-->

<body class="vertical-layout page-header-light vertical-menu-collapsible vertical-dark-menu preload-transitions 2-columns" data-open="click" data-menu="vertical-dark-menu" data-col="2-columns">
    <%- include('_layouts/sidenavbar') %>

    <!-- BEGIN: Page Main-->
    <div id="main">
        <div class="row">
            <div id="breadcrumbs-wrapper" data-image="/app-assets/images/gallery/breadcrumb-bg.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col s12 m6 l6">
                            <h5 class="breadcrumbs-title mt-0 mb-0"><a class="mr-2" href="/user"><i class="material-icons">arrow_back</i></a><span>Edit User</span></h5>
                        </div>
                        <div class="col s12 m6 l6 right-align-md">
                            <ol class="breadcrumbs mb-0">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item"><a href="/user">User</a></li>
                                <li class="breadcrumb-item active">Edit User</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="container">
                    <div class="section">
                        <div class="row">
                            <div class="col s12">
                                <%- messages('messages', locals) %>
                            </div>
                        </div>
                        <form method="POST" onsubmit="validate()" action="/user/edit/<%= user.id %>" id="form">
                            <div class="col s12">
                                <div class="card">
                                    <div class="card-content">
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input placeholder="Customer ID" id="customerId" name="customerId" type="text" value="<%= user.customerId %>">
                                                <label for="customerId">Customer ID</label>
                                            </div>
                                            <div class="input-field col m6 s12">
                                                <input placeholder="First name" id="fname" name="fname" type="text" value="<%= user.fname %>">
                                                <label for="fname">First name</label>
                                                <small>
                                                    <div id="errorfname" class="error"></div>
                                                </small>
                                            </div>
                                            <div class="input-field col m6 s12">
                                                <input placeholder="Last name" id="lname" name="lname" type="text" value="<%= user.lname %>">
                                                <label for="lname">Last name</label>
                                                <small>
                                                    <div id="errorlname" class="error"></div>
                                                </small>
                                            </div>
                                            <div class="input-field col s12">
                                                <input placeholder="Company name" id="companyName" name="companyName" type="text" value="<%= user.companyName %>">
                                                <label for="companyName">Company name</label>
                                                <small>
                                                    <div id="errorCompany" class="error"></div>
                                                </small>
                                            </div>
                                            <div class="input-field col s12">
                                                <input placeholder="Location" id="location" name="location" type="text" value="<%= user.location %>">
                                                <label for="location">Location</label>
                                                <small>
                                                    <div id="errorLocation" class="error"></div>
                                                </small>
                                            </div>
                                            <div class="input-field col m6 s12">
                                                <input placeholder="City" id="city" name="city" type="text" value="<%= user.city %>">
                                                <label for="city">City</label>
                                                <small>
                                                    <div id="errorCity" class="error"></div>
                                                </small>
                                            </div>
                                            <div class="input-field col m6 s12">
                                                <input placeholder="State" id="state" name="state" type="text" value="<%= user.state %>">
                                                <label for="state">State</label>
                                                <small>
                                                    <div id="errorState" class="error"></div>
                                                </small>
                                            </div>
                                            <div class="input-field col m6 s12">
                                                <input placeholder="Country" id="country" name="country" type="text" value="<%= user.country %>">
                                                <label for="country">Country</label>
                                                <small>
                                                    <div id="errorCountry" class="error"></div>
                                                </small>
                                            </div>
                                            <div class="input-field col m6 s12">
                                                <input placeholder="Postal code" id="postalCode" name="postalCode" type="text" value="<%= user.postalCode %>">
                                                <label for="postalCode">Postal code</label>
                                                <small>
                                                    <div id="errorPostal" class="error"></div>
                                                </small>
                                            </div>
                                            <div class="input-field col m6 s12">
                                                <input placeholder="Email" id="email" name="email" type="text" value="<%= user.email %>">
                                                <label for="email">Email</label>
                                                <small>
                                                    <div id="errorEmail" class="error"></div>
                                                </small>
                                            </div>
                                            <div class="input-field col m6 s12">
                                                <input placeholder="Phone" id="phone" name="phone" type="text" value="<%= user.phone %>">
                                                <label for="phone">Phone</label>
                                                <small>
                                                    <div id="errorPhone" class="error"></div>
                                                </small>
                                            </div>
                                            <div class="col s12">
                                                <button type="submit" class="btn purple" id="submitBtn">Submit</button>
                                                <a onclick="history.back()" class="btn btn-danger ml-1">Cancel</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="content-overlay"></div>
            </div>
        </div>
    </div>
    <!-- END: Page Main-->

    <%- include('_layouts/commonJs') %>
    <script>
        const formC = document.getElementById('form');
        formC.addEventListener('submit', (e) => {
            e.preventDefault();
        })

        function validate() {
            const fnameValue = document.getElementById('fname').value.trim();
            const lnameValue = document.getElementById('lname').value.trim();
            const companyNameValue = document.getElementById('companyName').value.trim();
            const cityValue = document.getElementById('city').value.trim();
            const stateValue = document.getElementById('state').value.trim();
            const countryValue = document.getElementById('country').value.trim();
            const postalValue = document.getElementById('postalCode').value.trim();
            const emailValue = document.getElementById('email').value.trim();
            const phoneValue = document.getElementById('phone').value.trim();

            if (fnameValue == '') {
                setError('errorfname', 'Please enter first name.');
                return;
            } else {
                document.getElementById('errorfname').innerText = '';
            }

            if (lnameValue == '') {
                setError('errorlname', 'Please enter last name.');
                return;
            } else {
                document.getElementById('errorlname').innerText = '';
            }

            if (companyNameValue == '') {
                setError('errorCompany', 'Please enter conpany name.');
                return;
            } else {
                document.getElementById('errorCompany').innerText = '';
            }

            if (cityValue == '') {
                setError('errorCity', 'Please enter city.');
                return;
            } else {
                document.getElementById('errorCity').innerText = '';
            }

            if (stateValue == '') {
                setError('errorState', 'Please enter state.');
                return;
            } else {
                document.getElementById('errorState').innerText = '';
            }

            if (countryValue == '') {
                setError('errorCountry', 'Please enter country.');
                return;
            } else {
                document.getElementById('errorCountry').innerText = '';
            }

            if (postalValue == '') {
                setError('errorPostal', 'Please enter postal code.');
                return;
            } else if (postalValue.length < 5) {
                setError('errorPostal', 'Postal code should atleast 5 characters long.');
                return;
            } else {
                document.getElementById('errorPostal').innerText = '';
            }

            if (emailValue == '') {
                setError('errorEmail', 'Please enter email.');
                return;
            } else if (!validateEmail(emailValue)) {
                setError('errorEmail', 'Please enter valid email.');
                return;
            } else {
                document.getElementById('errorEmail').innerText = '';
            }

            if (phoneValue == '') {
                setError('errorPhone', 'Please enter phone.');
                return;
            } else {
                document.getElementById('errorPhone').innerText = '';
            }

            document.getElementById('submitBtn').disabled = true;
            formC.submit();
        }

        function validateEmail(email) {
            return email.match(
                /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
            );
        }

        function setError(elementId, error) {
            const element = document.getElementById(elementId)
            element.innerText = error;
            element.scrollIntoView({
                behavior: 'smooth',
                block: 'center',
            });
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/js/dropify.min.js"></script>
    <script src="/app-assets/js/scripts/form-file-uploads.min.js"></script>
</body>

</html>