<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <%- include('_layouts/head') %>
    <title>User View | <%= title %></title>
    <link rel="stylesheet" type="text/css" href="/app-assets/css/pages/page-users.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/data-tables/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/data-tables/extensions/responsive/css/responsive.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/data-tables/css/select.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/pages/data-tables.css">
</head>
<!-- END: Head-->

<body class="vertical-layout page-header-light vertical-menu-collapsible vertical-dark-menu preload-transitions 2-columns" data-open="click" data-menu="vertical-dark-menu" data-col="2-columns">

    <%- include('_layouts/sidenavbar') %>

    <!-- BEGIN: Page Main-->
    <div id="main">
        <div class="row">
            <div id="breadcrumbs-wrapper" data-image="/app-assets/images/gallery/breadcrumb-bg.jpg">
                <!-- Search for small screen-->
                <div class="container">
                    <div class="row">
                        <div class="col s12 m6 l6">
                            <h5 class="breadcrumbs-title mt-0 mb-0"><a class="mr-2" href="/user"><i class="material-icons">arrow_back</i></a><span>User View</span></h5>
                        </div>
                        <div class="col s12 m6 l6 right-align-md">
                            <ol class="breadcrumbs mb-0">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item"><a href="/user">User</a></li>
                                <li class="breadcrumb-item active">User View</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12">
                <div class="container">
                    <!-- users view start -->
                    <div class="section section-data-tables users-view">
                        <%- messages('messages', locals) %>
                        <!-- users view media object start -->
                        <div class="card-panel">
                            <div class="row">
                                <div class="col s12 m7">
                                    <div class="display-flex media">
                                        <div class="media-body">
                                            <h6 class="media-heading">
                                                <span class="users-view-name"><%= user.fname + " " + user.lname %></span>
                                            </h6>
                                            <span>Email:</span>
                                            <span class="users-view-id"><%= user.email %></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 m5 mt-2">
                                    <a style="color: #565a65;" href="/user/<%= user.id %>/order" class="tooltipped right" data-tooltip="Orders"><i class="material-icons right">receipt</i></a>
                                    <% if (cartId) { %>
                                    <a style="color: #565a65;" href="/incomplete/<%= cartId %>" class="tooltipped right" data-tooltip="Cart"><i class="material-icons right">shopping_cart</i></a>
                                    <% } %>
                                    <% if (address) { %>
                                    <a style="color: #565a65;" href="/user/<%= user.id %>/address" class="tooltipped right" data-tooltip="Address"><i class="material-icons right">location_on</i></a>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        <!-- users view media object ends -->

                        <!-- users view card details start -->
                        <div class="card">
                            <div class="card-content">
                                <div class="row">
                                    <div class="col s12">
                                        <table class="striped">
                                            <tbody>
                                                <% if (user.customerId) { %>
                                                <tr>
                                                    <th style="width: 200px;">Customer ID:</th>
                                                    <td><%= user.customerId %></td>
                                                </tr>
                                                <% } %>
                                                <tr>
                                                    <th style="width: 200px;">Name:</th>
                                                    <td><%= user.fname + " " + user.lname %></td>
                                                </tr>
                                                <tr>
                                                    <th>E-mail:</th>
                                                    <td><%= user.email %></td>
                                                </tr>
                                                <% if (user.phone) { %>
                                                <tr>
                                                    <th>Phone:</th>
                                                    <td><%= user.phone %></td>
                                                </tr>
                                                <% } %>
                                                <tr>
                                                    <th>Company name:</th>
                                                    <td><%= user.companyName %></td>
                                                </tr>
                                                <% if (user.location) { %>
                                                <tr>
                                                    <th>Street address:</th>
                                                    <td><%= user.location %></td>
                                                </tr>
                                                <% } %>
                                                <tr>
                                                    <th>City:</th>
                                                    <td><%= user.city %></td>
                                                </tr>
                                                <tr>
                                                    <th>State:</th>
                                                    <td><%= user.state %></td>
                                                </tr>
                                                <tr>
                                                    <th>Country:</th>
                                                    <td><%= user.country %></td>
                                                </tr>
                                                <tr>
                                                    <th>Postal code:</th>
                                                    <td><%= user.postalCode %></td>
                                                </tr>
                                                <tr>
                                                    <th>Visit count:</th>
                                                    <td><%= user.visit %></td>
                                                </tr>
                                                <tr>
                                                    <th>Last login:</th>
                                                    <td><%= user.lastLogin ? user.lastLogin.toLocaleDateString(dateLocale, dateOptions) : '-' %></td>
                                                </tr>
                                                <tr>
                                                    <th>Number of downloads:</th>
                                                    <td><%= user.downloadCount %></td>
                                                </tr>
                                                <tr>
                                                    <th>Last download date:</th>
                                                    <td><%= user.lastDownload ? user.lastDownload.toLocaleDateString(dateLocale, dateOptions) : '-' %></td>
                                                </tr>
                                                <tr>
                                                    <th>Date created:</th>
                                                    <td><%= user.date.toLocaleDateString(dateLocale) %></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <a onclick="history.back()" class="btn btn-danger mt-2" style="margin-left: 15px;">Back</a>
                                </div>
                            </div>
                        </div>
                        <!-- users view card details ends -->
                    </div>
                    <!-- users view ends -->
                </div>
            </div>
        </div>
    </div>
    <!-- END: Page Main-->

    <%- include('_layouts/commonJs')  %>
    <script src="/app-assets/vendors/data-tables/js/jquery.dataTables.min.js"></script>
</body>

</html>